*{
	margin:0;
	padding:0;
}

.left_menu{
	width:100px;
	height:800px;
	background:#5393c5;
	border:1px solid #2373a5;
	color:#ffffff;
	background-image: linear-gradient( #5393c5 /*{global-active-background-start}*/, #6facd5 /*{global-active-background-end}*/);
}
